<div class="app app-blue-sky">
  <app-aside></app-aside>
  <div class="app-container">
    <app-nav></app-nav>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-green-light" routerLink="/user">
          <div class="card-body">
            <i class="icon fa fa-users"></i>
            <div class="content">
              <div class="title">User</div>
              <div class="value"><span class="sign"></span>116</div>
            </div>
          </div>
        </a>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-blue-light" routerLink="/device">
          <div class="card-body">
            <i class="icon fa fa-gears"></i>
            <div class="content">
              <div class="title">Device</div>
              <div class="value"><span class="sign"></span>5</div>
            </div>
          </div>
        </a>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-yellow-light">
          <div class="card-body">
            <i class="icon fa fa-user-plus"></i>
            <div class="content">
              <div class="title">Date Time</div>
              <div class="value" style="font-size: 1.6em;"><span class="sign"></span>{{ datetime }}</div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-mini">
          <div class="card-header">
            <div class="card-title">Last Statuses</div>
            <ul class="card-action">
              <li>
                <a href="/home">
                  <i class="fa fa-refresh"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body no-padding table-responsive">
            <table class="table card-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="right">Date Time</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sirawit Moonrinta</td>
                  <td class="right">28/02/2560 01:23 PM.</td>
                  <td><span class="badge badge-danger badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>Admin</span></span></td>
                </tr>
                <tr>
                  <td>Kamonchanok	Thapan</td>
                  <td class="right">28/02/2560 01:20 PM.</td>
                  <td><span class="badge badge-success badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>User</span></span></td>
                </tr>
                <tr>
                  <td>Kittikawin	Leasean</td>
                  <td class="right">28/02/2560 11:30 AM.</td>
                  <td><span class="badge badge-success badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>User</span></span></td>
                </tr>
                <tr>
                  <td>Yasumin	Chunjit</td>
                  <td class="right">28/02/2560 09:55 AM.</td>
                  <td><span class="badge badge-success badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>User</span></span></td>
                </tr>
                <tr>
                  <td>Patipat	Chuensuwannakul</td>
                  <td class="right">27/02/2560 08:11 AM.</td>
                  <td><span class="badge badge-success badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>User</span></span></td>
                </tr>
                <tr>
                  <td>Sirawit Moonrinta</td>
                  <td class="right">28/02/2560 01:23 PM.</td>
                  <td><span class="badge badge-danger badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>Admin</span></span></td>
                </tr>
                <tr>
                  <td>Wutthiphat	Phuriphatwatthana</td>
                  <td class="right">27/02/2560 08:11 AM.</td>
                  <td><span class="badge badge-danger badge-icon"><i class="fa fa-certificate" aria-hidden="true"></i><span>Admin</span></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card card-tab card-mini">
          <div class="card-header">
            <ul class="nav nav-tabs tab-stats">
              <li role="tab1" class="active">
                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Browsers</a>
              </li>
              <li role="tab2">
                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">OS</a>
              </li>
              <li role="tab2">
                <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">More</a>
              </li>
            </ul>
          </div>
          <div class="card-body tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab1">
              <div class="row">
                <div class="col-sm-8">
                  <div class="chart ct-chart-browser ct-perfect-fourth">
                    <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-pie"
                      style="width: 100%; height: 100%;">
                      <g class="ct-series ct-series-e">
                        <path d="M47.5,127.5A122.5,122.5,0,0,0,48.66,144.321L170,127.5Z" class="ct-slice-pie" value="50"></path>
                      </g>
                      <g class="ct-series ct-series-d">
                        <path d="M48.602,143.897A122.5,122.5,0,0,0,58.131,177.415L170,127.5Z" class="ct-slice-pie" value="105"></path>
                      </g>
                      <g class="ct-series ct-series-c">
                        <path d="M57.957,177.025A122.5,122.5,0,0,0,252.772,217.805L170,127.5Z" class="ct-slice-pie" value="705"></path>
                      </g>
                      <g class="ct-series ct-series-b">
                        <path d="M252.456,218.094A122.5,122.5,0,0,0,279.769,73.121L170,127.5Z" class="ct-slice-pie" value="480"></path>
                      </g>
                      <g class="ct-series ct-series-a">
                        <path d="M279.958,73.504A122.5,122.5,0,0,0,47.5,127.5L170,127.5Z" class="ct-slice-pie" value="1000"></path>
                      </g>
                      <g>
                        <text dx="156.1416361011795" dy="67.83838545557228" text-anchor="middle" class="ct-label">43%</text>
                        <text dx="230.1712489167095" dy="138.94479374228249" text-anchor="middle" class="ct-label">21%</text>
                        <text dx="157.34585528567897" dy="187.4285835102835" text-anchor="middle" class="ct-label">30%</text>
                        <text dx="111.05520035081774" dy="144.14551273820553" text-anchor="middle" class="ct-label">4%</text>
                        <text dx="108.88794979091796" dy="131.60850571894886" text-anchor="middle" class="ct-label">2%</text>
                      </g>
                      </svg>
                  </div>
                </div>
                <div class="col-sm-4">
                  <ul class="chart-label">
                    <li class="ct-label ct-series-a">Google Chrome</li>
                    <li class="ct-label ct-series-b">Firefox</li>
                    <li class="ct-label ct-series-c">Safari</li>
                    <li class="ct-label ct-series-d">IE</li>
                    <li class="ct-label ct-series-e">Opera</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab2">
              <div class="row">
                <div class="col-sm-8">
                  <div class="chart ct-chart-os ct-perfect-fourth">
                    <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="100%" class="ct-chart-donut"
                      style="width: 100%; height: 100%;">
                      <g class="ct-series ct-series-e">
                        <path d="M15,5.5A-9.5,-9.5,0,0,0,14.67,3.019" class="ct-slice-donut" value="100" style="stroke-width: 20px"></path>
                      </g>
                      <g class="ct-series ct-series-d">
                        <path d="M14.679,3.051A-9.5,-9.5,0,0,0,12.128,-1.306" class="ct-slice-donut" value="205" style="stroke-width: 20px"></path>
                      </g>
                      <g class="ct-series ct-series-c">
                        <path d="M12.152,-1.283A-9.5,-9.5,0,0,0,-1.349,-1.083" class="ct-slice-donut" value="605" style="stroke-width: 20px"></path>
                      </g>
                      <g class="ct-series ct-series-b">
                        <path d="M-1.326,-1.107A-9.5,-9.5,0,0,0,-3.718,3.203" class="ct-slice-donut" value="200" style="stroke-width: 20px"></path>
                      </g>
                      <g class="ct-series ct-series-a">
                        <path d="M-3.71,3.171A-9.5,-9.5,0,1,0,15,5.5" class="ct-slice-donut" value="1300" style="stroke-width: 20px"></path>
                      </g>
                      <g>
                        <text dx="0.6208642175132564" dy="44.697500354181486" text-anchor="middle" class="ct-label">54%</text>
                        <text dx="-29.004399139069548" dy="-13.727491777446602" text-anchor="middle" class="ct-label">8%</text>
                        <text dx="4.985106243302064" dy="-33.99664396400425" text-anchor="middle" class="ct-label">25%</text>
                        <text dx="39.621862724178435" dy="-14.398454317668044" text-anchor="middle" class="ct-label">9%</text>
                        <text dx="44.664866623478204" dy="0.3654871345800448" text-anchor="middle" class="ct-label">4%</text>
                      </g>
                      </svg>
                  </div>
                </div>
                <div class="col-sm-4">
                  <ul class="chart-label">
                    <li class="ct-label ct-series-a">iOS</li>
                    <li class="ct-label ct-series-b">Android</li>
                    <li class="ct-label ct-series-c">Windows</li>
                    <li class="ct-label ct-series-d">OSX</li>
                    <li class="ct-label ct-series-e">Linux</li>
                  </ul>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab3">
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>