<div class="app app-blue-sky">
  <app-aside></app-aside>
  <div class="app-container">
    <app-nav></app-nav>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-green-light">
          <div class="card-body">
            <i class="icon fa fa-users"></i>
            <div class="content">
              <div class="title">User</div>
              <div class="value"><span class="sign"></span>116</div>
            </div>
          </div>
        </a>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-blue-light">
          <div class="card-body">
            <i class="icon fa fa-gears"></i>
            <div class="content">
              <div class="title">Device</div>
              <div class="value"><span class="sign"></span>2453</div>
            </div>
          </div>
        </a>

      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <a class="card card-banner card-yellow-light">
          <div class="card-body">
            <i class="icon fa fa-user-plus"></i>
            <div class="content">
              <div class="title">Online</div>
              <div class="value"><span class="sign"></span>50</div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>