<div class="app app-blue-sky">
  <app-aside></app-aside>
  <div class="app-container">
    <app-nav></app-nav>

    <div class="btn-floating">
      <div class="btn-bg"></div>
      <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
        <i class="icon fa fa-plus"></i>
        <span class="help-text">Shortcut</span>
      </button>
      <div class="toggle-content">
        <ul class="actions">
          <li><a href="#">Website</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">Issues</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>